* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  padding: 5px 10px;
  margin: 0;
}

body {
  color: black;
  /* font-size: 1em; */
  font-family: Tahoma;
  background-color: rgb(198, 198, 206);
}

header {
  background-color: rgb(27, 27, 122);
  color: white;
  height: 30vh;
}

h1 {
  font-size: 3.75vw;
  text-align: center;
  margin: 0.35em 0 0.5em;
  text-shadow: 0 2px 0 rgba(0,0,0, 0.1);
}

h2 {
  font-size: 4vw;
  font-weight: bolder;
  text-align: left;
}

h3 {
    font-size: 2.5vw;
    font-weight: bolder;
    text-shadow: 0 2px 0 rgba(0,0,0, 0.1)
    /* margin: 0.35em 0 0.5em; */
}

main p {
  font-size: 1.5vw;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

footer {
  margin-top: -10px;
  /* color: #72060f; */
  color: black;
}

/* label {
  display: flex;
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
} */

input {
  font-family: sans-serif;
  font-size: 14px;
  flex: 0 0 20px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
}

option {
  font-family: helvetica;
  font-size: 14px;
  flex: 0 0 20px;
  margin-left: 10px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

fieldset {
    /* background-color: #fff; */
    color: black;
    padding: 20px;
    margin-top: 2em;
}

legend {
    color: #72060f;     
    font-size: 1.5em;
    padding: 20px;
} 

nav {
  font-family: helvetica;
  background-color: rgb(169, 169, 180);
  height: 16em;
}

a {
  font-family: Tahoma;
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  list-style-position: inside;
  list-style-type: none;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: block;
  line-height: 2;
  margin-top: .5em;
  margin-right: 2.5em;
  padding-bottom: .5em;
}


/* Classes */

.image-float {
  display: inline-flex;
  /* padding: 10px 25px 20px 20px; */
  padding: 2em;
  /* width: 125%;
  height: auto; */
}

/* Header - Grid Box */

.wrapper {
  display: grid;
  grid-template-columns: 200px 2fr 1fr;
  grid-auto-rows: 80px;
  background-color: rgb(27, 27, 122);
  color: white;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 3em;
}

.box3 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 3em;
}

/* Navigation Bar - Flex Box */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  height: 1.5em;
  justify-content: center;
}

/* .today {
  text-align: left;
} */

.item {
  order: 1;
  width: 100%;
  text-align: center;
  background: rgb(198, 198, 206);
  border-radius: 5px;
}

/* Ethereum Link - Grid Box */

.wrapper2 {
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-auto-rows: 50px;
  background-color: rgb(198, 198, 206); 
  height: 4em;
  /* margin-top: 2em; */
  margin-bottom: 1em;
}

.text-box {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  padding-top: 1em;
  font-size: 1.3em;
  color: blue;
}

.image-box {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1em 1.5em 0 0;
  /* border: solid pink 2px; */
}

.image-float2 {
  display: inline-flex;
}

/* .nav_wrapper {
  display: grid;
  grid-template-areas:
    'date nav image';
  grid-template-columns: 1fr 2fr 300px;
  grid-template-rows: 50px;
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 5 5 5px;
  background-color: rgb(198, 198, 206);
  color: white;
} */

/* .nav1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: date;
}

.nav2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  grid-area: nav;
  border: solid pink 2px;
}

.nav3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: image;

}  */

.header-text {
  font-family: helvetica;
  font-size: 26px;
}

.header-label{
  display: flex;
  font-family: helvetica;
  color: white;
  font-size: 16px;
}

.landing-text {
  font-family: helvetica;
  font-size: 18px;
  padding-left: 2em;
  color: black;
}

/* .nav{
  font-family: helvetica;
  font-size: 20px;
  background-color: rgb(198, 198, 206);
  background-color: rgb(27, 27, 122);
  color: white;
}  */

/* .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
} */

/* .datewrap {
  flex-direction: row;
  flex-wrap: nowrap;
  border: solid 2px dimgray;
  font-size: 18px;
  background-color: #685456;
  color: white;
  text-align: center;
  padding: 15px 5px;
}

.sentence {
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #685456;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 0 0 5px 0;
}

.col {
  display: flex;
  flex-direction: column;
} */

/* .boxwrap {
  flex-direction: column;
}

.box {
  flex-direction: column;
  font-size: 15px;
} */

.button1 {
  width: 90px;
  height: 30px;
  font-family: helvetica;
  font-size: 16px;
  border-radius: 10px;
  color: #72060f;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

.button2 {
  width: 250px;
  height: 40px;
  font-family: helvetica;
  font-size: 16px;
  font-weight:400;
  border-radius: 10px;
  color: #72060f;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

.autopopulate {
  font-family: helvetica;
  color: black;
  font-size: 14px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  width: 100px;
  line-height: 80%;
  border-radius: 5px;
}

.heighttext {
  font-family: helvetica;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  line-height: 100%;
  width: 100px;
  border-radius: 5px;
}

.form-control {
  font-family: helvetica;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  line-height: 100%;
  width: 120px;
  border-radius: 5px;
}

.heighttext2 {
  font-family: helvetica;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  width: 60px;
  line-height: 100%;
  border-radius: 5px;
}

.input-medium {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  /* flex: 0 0 20px; */
  /* margin-left: 10px; */
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.input-long {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  flex: 0 0 20px;
  /* margin-left: 10px; */
  width: 400px;
  height: 30px;
  border-radius: 5px;
}

.input-short {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  flex: 0 0 20px;
  /* margin-left: 10px; */
  padding: 5px;
  width: 75px;
  height: 30px;
  border-radius: 5px;
}

.checkbox {
  /* line-height: 120%; */
  width: 20px; 
  height: 20px;
}

.select {
  font-family: helvetica;
  font-size: 16px;
  padding: 5px 0 5px 2px;
  line-height: 120%;
  border-radius: 5px;
  margin-left: 10px;
  /* width: 75px; */
}

.option {
  font-family: helvetica;
  font-size: 16px;
  padding: 5px 0 2px 2px;
  line-height: 120%;
  border-radius: 5px;
  margin-left: 10px;
  /* width: 75px; */
}


/* Media Queries */

/* Tablet */
/* @media only screen and (max-width: 1023px) { */

  @media all and (min-width: 700px) {
  
    /* body {
    background-color: lightskyblue;
  } */

  nav {
    height: 4em;
  }
    .menu {
      align-items: flex-end;
      flex-wrap: nowrap;
      background: none;
      list-style-type: none;
      margin-top: 0;
    }
    /* .today {
      flex: 1;
      flex-wrap: nowrap;
    } */

    .wrapper2 {
      margin-top: 2em;
    }

  /* .wrapper {
    width: 780;
  }

  .image-float {
    width: 80%;
  }

  .nav_wrapper {
    display: block;
    width: 100%;
  } */


/* Desktop */
 
  @media all and (min-width: 1024px) {

    /* body {
      background-color: rgb(198, 198, 206); 
    } */
    
    nav {
      height: 4em;
    }

    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
      list-style-type: none;
      margin-top: 0;
    }
    
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
      padding-bottom: 15px;
      background: none;
    }

    .wrapper2 {
      margin-top: .2em;
    }
