* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  padding: 5px 10px;
  margin: 0;
}

body {
  color: black;
  /* font-size: 1em; */
  font-family: Tahoma;
  background-color: rgb(198, 198, 206); 
  /* background-image: linear-gradient(15deg, #778899 0%, #d3d3d3 100%); */
}

header {
  background-color: rgb(27, 27, 122);
  color: white;
}

h1 {
  font-size: 3.75em;
  text-align: center;
  margin: 0.35em 0 0.5em;
  text-shadow: 0 2px 0 rgba(0,0,0, 0.1);
}

h2 {
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
}

h3 {
    font-size: 2.0em;
    font-weight: bolder;
    text-shadow: 0 2px 0 rgba(0,0,0, 0.1)
    /* margin: 0.35em 0 0.5em; */
}

main p {
  font-size: 1.9em;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

footer {
  margin-top: -10px;
  /* color: #72060f; */
  color: black;
}

/* label {
  display: flex;
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
} */

input {
  font-family: sans-serif;
  font-size: 14px;
  flex: 0 0 20px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
}

option {
  font-family: helvetica;
  font-size: 14px;
  flex: 0 0 20px;
  margin-left: 10px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

fieldset {
    /* background-color: #fff; */
    color: black;
    padding: 20px;
}

legend {
    color: #72060f;     
    font-size: 1.5em;
    padding: 20px;
} 

nav {
  font-family: helvetica;
  background-color: rgb(169, 169, 180);
  height: 50px;
}

nav a {
  font-family: Tahoma;
  font-size: 20px;
  color: white;
  /* color: rgb(27, 27, 122); */
  font-weight: 500;
  text-decoration: none;
  /* justify-content: space-evenly; */
  /* background-color: rgb(198, 198, 206); */
  /* background-color: rgb(180, 180, 194); */
  /* padding: .5em; */
  /* margin-top: 2em; */
  /* margin-right: 2em; */
  /* border: solid 1px;
  border-color: darkgrey; */
  /* border-radius: 3px; */
}

a {
  font-family: helvetica;
  color: white;
  /* background-color: rgb(198, 198, 206); */
  text-decoration: none;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  list-style-position: inside;
  list-style-type: none;
  /* justify-content: right; */
  margin: 0 0 1em 2em;
  padding: 0;
  
}

li {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: block;
  padding: 0 0 20px 20px;
  /* display: inline; */
  line-height: 1;
  /* justify-content: right; */
  margin: 0 0 15px 10px;
  background-color: (27, 27, 122);
  /* background-color: white; */
  /* border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0,0,0, 0.2);  */
}


/* Classes */

.image-float {
  display: inline-flex;
  padding: 10px 25px 20px 10px;
}

.image-float2 {
  display: flex;
  padding-right: 0px;
}

.menu {
  list-style-type: none;
}

.today {
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.wrapper {
  display: grid;
  /* grid-template-columns: auto; */
  grid-template-columns: 200px 2fr 1fr;
  grid-auto-rows: 80px;
  /* grid-auto-rows: minmax(100px, auto); */
  /* display: inline;
  flex-direction: column;
  justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* padding: 5px 5 5 5px; */
  background-color: rgb(27, 27, 122);
  color: white;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: solid pink 2px; */
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: solid white 2px; */
}

.box3 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: solid greenyellow 2px; */
}

.box4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: solid orange 2px; */
}

/* .nav_wrapper {
  display: grid;
  grid-template-areas:
    'date nav image';
  grid-template-columns: 1fr 2fr 300px;
  grid-template-rows: 50px;
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 5 5 5px;
  background-color: rgb(198, 198, 206);
  color: white;
} */

/* .nav1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: date;
}

.nav2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  grid-area: nav;
  border: solid pink 2px;
}

.nav3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: image;

}  */

.header-text {
  font-family: helvetica;
  font-size: 20px;
}

.header-label{
  display: flex;
  font-family: helvetica;
  color: white;
  font-size: 16px;
}

.landing-text {
  font-family: helvetica;
  font-size: 18px;
  padding-left: 2em;
  color: black;
}

/* .nav{
  font-family: helvetica;
  font-size: 20px;
  background-color: rgb(198, 198, 206);
  background-color: rgb(27, 27, 122);
  color: white;
}  */

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}

/* .datewrap {
  flex-direction: row;
  flex-wrap: nowrap;
  border: solid 2px dimgray;
  font-size: 18px;
  background-color: #685456;
  color: white;
  text-align: center;
  padding: 15px 5px;
}

.sentence {
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #685456;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 0 0 5px 0;
}

.col {
  display: flex;
  flex-direction: column;
} */

.boxwrap {
  flex-direction: column;
}

.box {
  flex-direction: column;
  font-size: 15px;
}

.button1 {
  width: 90px;
  height: 30px;
  font-family: helvetica;
  font-size: 16px;
  border-radius: 10px;
  color: #72060f;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

.button2 {
  width: 250px;
  height: 40px;
  font-family: helvetica;
  font-size: 16px;
  font-weight:400;
  border-radius: 10px;
  color: #72060f;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

.autopopulate {
  font-family: helvetica;
  color: black;
  font-size: 14px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  width: 100px;
  line-height: 80%;
  border-radius: 5px;
}

.heighttext {
  font-family: helvetica;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  line-height: 100%;
  width: 100px;
  border-radius: 5px;
}

.form-control {
  font-family: helvetica;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  line-height: 100%;
  width: 120px;
  border-radius: 5px;
}

.heighttext2 {
  font-family: helvetica;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 5px 0 2px 2px;
  text-indent: 6px;
  width: 60px;
  line-height: 100%;
  border-radius: 5px;
}

.input-medium {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  /* flex: 0 0 20px; */
  /* margin-left: 10px; */
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.input-long {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  flex: 0 0 20px;
  /* margin-left: 10px; */
  width: 400px;
  height: 30px;
  border-radius: 5px;
}

.input-short {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  flex: 0 0 20px;
  /* margin-left: 10px; */
  padding: 5px;
  width: 75px;
  height: 30px;
  border-radius: 5px;
}

.checkbox {
  /* line-height: 120%; */
  width: 20px; 
  height: 20px;
}

.select {
  font-family: helvetica;
  font-size: 16px;
  padding: 5px 0 5px 2px;
  line-height: 120%;
  border-radius: 5px;
  margin-left: 10px;
  /* width: 75px; */
}

.option {
  font-family: helvetica;
  font-size: 16px;
  padding: 5px 0 2px 2px;
  line-height: 120%;
  border-radius: 5px;
  margin-left: 10px;
  /* width: 75px; */
}


/* Media Queries */

/* Mobile Devices */
/* @media only screen and (max-width: 799px) { */
 @media all and (min-width: 320px) {
  
  body {
    background-color: lightseagreen;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .menu li a {
    display: block;
    padding: 15px 5px;
  }

  .item {
    order: 1;
    width: 100%;
    text-align: center;
    /* display: none; */
  }

  .eth {
    order: 0;
  }

  .active .item {
    display: block;
  }

  .today .header-label {
    justify-content: center;
  }
 }

  /* .wrapper {
    width: 280px;
    height: 300px;
  }

  .image-float {
    width: 25%;
  }

  .image-float2 {
    display: none;
  }

  .nav_wrapper {
    grid-template-areas: 
      'date'
      'nav'
      'image';
    justify-content: center;
    padding: 100px;
  } */


/* Large Mobile and Small Tablet */
/* @media only screen and (max-width: 1023px) { */

  @media all and (min-width: 700px) {
  
    body {
    background-color: lightskyblue;
  }
    .menu {
      justify-content: center;
    }
    .today {
      flex: 1;
    }
}
  /* .wrapper {
    width: 780;
  }

  .image-float {
    width: 80%;
  }

  .nav_wrapper {
    display: block;
    width: 100%;
  } */


/* Large Tablet and Desktop/Laptop */
  /* @media only screen (min-width: 1024px) { */
  @media all and (min-width: 1024px) {

    body {
      background-color: rgb(198, 198, 206); 
    }

    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .today {
      order: 0;
      justify-content: right;
      padding: 15px;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
      padding-bottom: 15px;
    }
    .eth {
      order: 1;
      position: relative;
    }




